{% extends "base.html" %}
{% block content %}
<h1>{{ person.username }} 님의 PROFILE</h1>
    {% if request.user != person %}
    {% if request.user in person.followers.all %}
        <form action="{% url "accounts:follow" person.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value = "Unfollow">
        </form>
    {% else %}
        <form action="{% url "accounts:follow" person.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value = "follow">
        </form>
    {% endif %}
    {% endif %}
    <p>팔로워{{ person.followers.all|length }}  / 팔로잉 {{ person.followings.all|length }} </p>
<hr>
<h2>{{ person.username }}'s 게시글</h2>
{% for movie in person.movie_set.all %}
    <p>{{movie}}</p>
{% endfor %}
<h2>{{person.username}}'s 댓글</h2>
{% for comment in person.comment_set.all %}
    <p>{{comment}}</p>
{% endfor %}
{% endblock content %}


